<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Number Classifier</title>
    <link rel="stylesheet" href="./static/stylesheet.css">
</head>
<body>
    <header>
        <img class="header_img" src="./static/apple.jpg" alt="fruits">
        <a class="header-logo" href="#">Fruits Classifier</a>
    </header>

    <div class="main">
        <h2> AIが送信された画像のフルーツを識別します</h2>
        <p>画像を送信してください</p>
        <form method="POST" enctype="multipart/form-data">
            <input class="file_choose" type="file" name="file">
            <input class="btn" value="submit!" type="submit">
        </form>
        <div class="answer">{{answer}}</div>
    </div>

    <footer>
        <img class="footer_img" src="./static/mountain.jpg" alt="mountain">
    </footer>
</body>
</html>
